<!DOCTYPE html>
<html>
  <head>
    <title>todos os pets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <article>
    <h1>Scooby</h1>
    <p>macho</p>
    <p>5 anos</p>
    </article>
    <article>
      <h1>Scooby</h1>
      <p>macho</p>
      <p>5 anos</p>
      </article>
      <article>
        <h1>Scooby</h1>
        <p>macho</p>
        <p>5 anos</p>
        </article>
    
  </body>
</html>
